*{
	box-sizing: content-box;
	max-width: 375px;
	max-height: 667px;
	margin: 0 auto;
	position: relative;
}


.plant-parenthood{
	position: absolute;
	width: 234px;
	height: 53px;
	left: 70px;
	top: 16px;

	font-family: Pacifico;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 53px;
	text-align: center;}
.leaf{
	position: absolute;
	width: 43.18px;
	height: 30px;
	left: 165px;
	top: 69px;}
.home-photo{
	position: absolute;
	width: 351.5px;
	height: 257.46px;
	left: 10px;
	top: 125.05px;}
.my-plants-button{
	position: absolute;
	width: 266.72px;
	height: 62px;
	left: 52.36px;
	top: 436px;}
.add-plants-button{
	position: absolute;
	width: 266.72px;
	height: 62px;
	left: 54px;
	top: 538px;}





#left-leaf{
	position: absolute;
	width: 43.18px;
	height: 30px;
	left: 38px;
	top: 16px;}
.title p{
	position: absolute;
	width: 211px;
	height: 46px;
	left: 82px;
	top: 16px;

	font-family: Lora;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 38px;
	text-align: center;}
#right-leaf{
	position: absolute;
	width: 43.18px;
	height: 30px;
	left: 299px;
	top: 16px;}
#back-button{
	position: absolute;
	width: 47px;
	height: 44px;
	left: 9px;
	top: 86px;}
#edit-button{
	position: absolute;
	width: 70px;
	height: 35px;
	left: 299px;
	top: 90px;}

#stripes{
	position: absolute;
	width: 89px;
	height: 88.8px;
	left: 12px;
	top: 142.97px;}
.stripes > h2 {
	position: absolute;
	width: 176px;
	height: 29.93px;
	left: 117px;
	top: 142.97px;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 26px;}
.stripes > p{
	position: absolute;
	width: 176px;
	height: 59.87px;
	left: 120px;
	top: 171.91px;

	font-family: Lora;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 19px;}
#stripes-rectangle-button{
	position: absolute;
	width: 375px;
	height: 113.75px;
	left: 0px;
	top: 130px;

	background: rgba(107, 191, 115, 0.01);
	box-sizing: border-box;}

#froggy{
	position: absolute;
	width: 89px;
	height: 88.8px;
	left: 15px;
	top: 254.72px;}
.froggy > h2{
	position: absolute;
	width: 176px;
	height: 29.93px;
	left: 117px;
	top: 255.72px;

	font-family: Lora;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 26px;}
.froggy > p{
	position: absolute;
	width: 176px;
	height: 58.87px;
	left: 117px;
	top: 283.66px;

	font-family: Lora;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 19px;}
#froggy-rectangle-button{
	position: absolute;
	width: 375px;
	height: 113.75px;
	left: 0px;
	top: 243.75px;
	box-sizing: border-box;}

#emily{
	position: absolute;
	width: 89px;
	height: 88.8px;
	left: 15px;
	top: 368.47px;}
.emily > h2{
	position: absolute;
	width: 176px;
	height: 29.93px;
	left: 114px;
	top: 368.47px;

	font-family: Lora;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 26px;}
.emily > p {
	position: absolute;
	width: 176px;
	height: 62.86px;
	left: 114px;
	top: 394.42px;

	font-family: Lora;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 19px;}
#emily-rectangle-button{
	position: absolute;
	width: 375px;
	height: 113.75px;
	left: 0px;
	top: 356.5px;
	background: rgba(107, 191, 115, 0.01);
	box-sizing: border-box;}

#bert{
	position: absolute;
	width: 89px;
	height: 88.8px;
	left: 15px;
	top: 482.22px;}
.bert > h2{
	position: absolute;
	width: 176px;
	height: 29.93px;
	left: 117px;
	top: 482.22px;

	font-family: Lora;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 26px;}
.bert > p{
	position: absolute;
	width: 176px;
	height: 58.87px;
	left: 117px;
	top: 512.16px;

	font-family: Lora;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 19px;}
#bert-rectangle-button{
	position: absolute;
	width: 375px;
	height: 113.75px;
	left: 0px;
	top: 469.25px;
	box-sizing: border-box;}

#home-button{
	position: absolute;
	width:46px;
	height: 37.82px;
	top: 620px;
	left: 82px;

	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));}
#bottom-rectangle{
	position: absolute;
	width: 375px;
	height: 58px;
	left: 0px;
	top: 609px;}
#calendar-button{
	width: 46px;
	height: 44px;
	top:621px;
	left:255px;}