*{
	box-sizing: content-box;
	max-width: 375px;
	max-height: 667px;
	margin: 0 auto;
	position: relative;
}


.plant-parenthood{
	position: absolute;
	width: 234px;
	height: 53px;
	left: 70px;
	top: 16px;

	font-family: Pacifico;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 53px;
	text-align: center;
}

.leaf{
	position: absolute;
	width: 43.18px;
	height: 30px;
	left: 165px;
	top: 69px;
}

.home-photo{
	position: absolute;
	width: 351.5px;
	height: 257.46px;
	left: 10px;
	top: 125.05px;
}

.my-plants-button{
	position: absolute;
	width: 266.72px;
	height: 62px;
	left: 52.36px;
	top: 436px;
}

.add-plants-button{
	position: absolute;
	width: 266.72px;
	height: 62px;
	left: 54px;
	top: 538px;
}

 .left-leaf{
	position: absolute;
	width: 43.18px;
	height: 30px;
	left: 38px;
	top: 16px;
}


.title p{
	position: absolute;
	width: 211px;
	height: 46px;
	left: 82px;
	top: 16px;

	font-family: Lora;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 38px;
	text-align: center;
}

.right-leaf{
	position: absolute;
	width: 43.18px;
	height: 30px;
	left: 299px;
	top: 16px;
}

.back-button{
	position: absolute;
	width: 47px;
	height: 44px;
	left: 9px;
	top: 86px;
}


.edit-button{
	position: absolute;
	width: 70px;
	height: 35px;
	left: 299px;
	top: 90px;

}

h2 {
	position: absolute;
	width: 176px;
	height: 29.93px;
	left: 117px;
	top: 142.97px;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 26px;

}

.stripes p{
	position: absolute;
	width: 176px;
	height: 59.87px;
	left: 120px;
	top: 171.91px;

	font-family: Lora;
	font-style: normal;
	font-weight: normal;
	font-size: 1px;
	line-height: 19px;
}

.stripes-rectangle-button{
	margin-top: -500px;
}